.about-content[data-v-ccf6a7a0]{margin:0 auto;max-width:800px;padding:40px 0}h1[data-v-ccf6a7a0],h2[data-v-ccf6a7a0]{color:#0f0}.team[data-v-ccf6a7a0]{margin-top:2rem}.team-member[data-v-ccf6a7a0]{margin:1rem 0}
